<header class="header white-bg">
  <div class="sidebar-toggle-box">
      <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
  </div>
  <!--logo start-->
  <a href="/index.html" class="logo">Bty_<span>{$Think.config.config.bty_version}</span></a>
  <!--logo end-->
  <div class="nav notify-row" id="top_menu">
    <!--  notification start -->
    
<!--  notification end -->
</div>
<div class="top-nav ">
    <!--search & user info start-->
    <ul class="nav pull-right top-menu">
        <li>
            <input type="text" class="form-control search" placeholder="Search">
        </li>
        <!-- user login dropdown start-->
        <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <img alt="" src="__STATIC__/img/avatar1_small.jpg">
                <span class="username">{$userInfo.username}</span>
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu extended logout">
                <div class="log-arrow-up"></div>
                <li><a href="/user/index.html"><i class=" fa fa-user"></i>个人中心</a></li>
                <li><a href="/user/shop.html"><i class="fa fa-shopping-cart"></i> 主机商城</a></li>
                <li><a href="/user/order.html"><i class="fa fa-th-list"></i> 控制中心</a></li>
                <li><a href="/user/logout.html"><i class="fa fa-key"></i> 退出登录</a></li>
            </ul>
        </li>
        <li class="sb-toggle-right">
            <i class="fa  fa-align-right"></i>
        </li>
        <!-- user login dropdown end -->
    </ul>
    <!--search & user info end-->
</div>
</header>