<ul class="sidebar-menu" id="nav-accordion">
    <li>
        <a class="{switch name="$Request.controller"}{case value="Index" }active{/case}{/switch}" href="/admin/index.html">
            <i class="fa fa-dashboard"></i>
            <span>主页</span>
        </a>
    </li>

    <li>
        <a class="{switch name="$Request.controller"}{case value="Group" }active{/case}{/switch}" href="/admin/group.html" >
            <i class="fa fa-map-marker"></i>
            <span>用户组管理</span>
        </a>
    </li>

    <li>
        <a class="{switch name="$Request.controller"}{case value="Host" }active{/case}{/switch}" href="/admin/host.html" >
            <i class="fa fa-map-marker"></i>
            <span>主机管理</span>
        </a>
    </li>

    <li>
        <a class="{switch name="$Request.controller"}{case value="Setting" }active{/case}{/switch}" href="/admin/setting.html" >
            <i class="fa fa-map-marker"></i>
            <span>系统设置</span>
        </a>
    </li>

    <li>
        <a class="{switch name="$Request.controller"}{case value="User" }active{/case}{/switch}" href="/admin/user.html" >
            <i class="fa fa-map-marker"></i>
            <span>用户管理</span>
        </a>
    </li>

    <li>
        <a class="{switch name="$Request.controller"}{case value="Order" }active{/case}{/switch}" href="/admin/order.html" >
            <i class="fa fa-map-marker"></i>
            <span>订单管理</span>
        </a>
    </li>

    <li>
        <a class="{switch name="$Request.controller"}{case value="Redeem" }active{/case}{/switch}" href="/admin/redeem.html" >
            <i class="fa fa-map-marker"></i>
            <span>兑换管理</span>
        </a>
    </li>

    <!--multi level menu start-->
    
    <!--multi level menu end-->

</ul>