body {
	font-family: Verdana,"Microsoft YaHei",Arial;
	color: #101010;
	margin: 0;
	padding: 0;
	font-size: 12px;
}

input {
	font-family: Verdana,Arial;
	padding: 3px 2px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #EEEDEE;
	border-radius: 5px;
	padding: 10px;font-size: 14px;
	border:none;
	width: 200px;

}

table {
	background-color: transparent;
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
	color: #101010;
}

a:hover {
	text-decoration: none;
	color: #ff8600;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

#login {
	width: 300px;
	height: auto;
	margin: 0 auto;
	padding: 10px 100px 5px;
	border:1px solid #efefef;
}

.login_container {
	width: 582px;
	margin: 140px auto 0;
	background-color: #fff;
	border:1px solid #efefef;
}

.login_ico, .logo, .login_btn {
	background-image: url(../imgs/vhost_login.png);
	background-repeat: no-repeat;
}

.login_ico {
	height: 54px;
	width: 146px;
	background-position: 0 0;
}

.login_ico_bg {
	height: 1px;
	width: 582px;
}

.login_logo {
	width: 562px;
	height: 96px;
	background: url(../imgs/logo.png) center center no-repeat;
	margin-bottom: 10px;
}

.logo {
	width: 295px;
	height:35px;
	margin-bottom: 20px;
	background-position: 0 -64px;
}

.login_btn {
	width: 98px;
	height: 38px;
	cursor: pointer;
	border: 0;
	background-position: 0 -203px;
}

.ver {
	padding: 20px 0;
	text-align: center;
	color: #999
}
.ver a{color: #999}
.table {
	margin-bottom: 18px;
	width: 100%;
}

.table th, .table td {
	font-size: 15px;
	line-height: 20px;
	padding: 8px;
	text-align: left;
	vertical-align: middle;color: #777
}
#login h3{font-size:18px;font-weight: normal;text-align: center;color: #666}
#login h3 em{font-style: normal;font-size: 12px;color: #DE6262}