{include file="public/header"}
<div class="main">
	<div class="public_pa">网站FTP信息配置</div>

	<div id="main">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th colspan="2">状态：{$ftp.status ? '<span style="color:green">已开启</span><a href="?ftp=off">[关闭]</a>' : '<span style="color:#2288cc">未开启</span><a href="?ftp=on">[开启]</a>'}</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
		<form action="" method="post">
			<table class="table">
				<thead>
					<tr>
						<th style="border:0" colspan="2">FTP设置</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td style="border:0">
							用户名：<input name="username" class="span3" value="{$ftp.name}" disabled="">
							密码：<input name="password" class="span3" value="{$ftp.password}">
							<input type="submit" value="保存" class="btn btn-warning">
						</td>

					</tr>
					<tr><td><span style="color:red">！</span>注意：非特殊情况请勿关闭FTP.</td></tr>
				</tbody>
			</table>
		</form>
	</div>
</div>
{include file="public/footer"}
</div>
</body>
</html>